*{
    margin: 0;
    box-sizing: border-box;
}
body{
   width: 100svw;
   height: 100svh;
   overflow: hidden;
   background-color: bisque;
}
h1{
    text-align: center;
}
.block{
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(./images/kushal-mistri-Wu_WCJq1HvY-unsplash.png);
    background-size: 200px 200px;
    top: 55px;
    left: 55px;
}